{% extends 'base.html' %}
{% block subtitle %} Blog Detail {% endblock %}
{% load static %}
{% block content %}
<!-- Page Header Start -->
<div class="page-header bg-section ">
    <!-- Page Header Box Start -->
    <div class="page-header-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Content Start -->
                    <div class="page-header-content">
                        <h1 class="wow fadeInUp">{{object.title}}</h1>
                    </div>
                    <!-- Page Header Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Box End -->
</div>
<!-- Page Header End -->

<!-- Page Single Post Start -->
<div class="page-single-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Post Featured Image Start -->
                <div class="post-content">
                    <div class="post-entry">
                        {{object.content|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    <!-- Page Single Post End -->
{% endblock %}