{% extends 'base.html' %}
{% block subtitle %} Home {% endblock %}
{% load static %}
{% load custom_tags %}

{% block extra_head %}
<script type="module"
        src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
{% endblock extra_head %}
{% block extra_css %}
<style>
    #rcorners3 {
        border-radius: 20px 50px;
    }

    .tech-icon {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    #tech-icons-slider .splide__slide .card {
        border-radius: 30px !important;
        overflow: hidden;

    }

    /* Overlay for the entire card */
    .card-slider-overlay {
        position: absolute;
        bottom: -100%; /* Hidden initially */
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(101, 0, 0); /* Dark semi-transparent background */
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: bottom 0.5s ease; /* Smooth sliding animation */
        padding: 20px;
        z-index: 1;
        flex-direction: column;
    }

    /* Style for the content inside the overlay */
    .slider-content {
        font-size: 16px;
        line-height: 1.5;
        padding: 15px;
    }

    /* Button styling */
    .card-slider-overlay .btn {
        background-color: #ff9800; /* Customize button color */
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .card-slider-overlay .btn:hover {
        background-color: #e68900; /* Slightly darker on hover */
    }

    /* Hover effect to slide in the overlay */
    .card:hover .card-slider-overlay {
        bottom: 0; /* Slide in from the bottom on hover */
    }


    .splide__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 45px;
        height: 45px;
        background-image: linear-gradient(to right, var(--dark-color) 0%, var(--accent-color) 50%, var(--dark-color) 100%);
        background-size: 200% auto;
        border-radius: 50%;
        transition: all 0.4s ease-in-out;
        border: none;
        z-index: 10;
    }
</style>

{% endblock extra_css%}
{% block content %}
<!-- Hero Section Start -->
<div class="hero bg-section parallaxie">
    <div class="hero-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-9">
                    <!-- Hero Content Start -->
                    <div class="hero-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Welcome to Exarth.</h3>
                            <h1 class="wow fadeInUp" data-wow-delay="0.2s">
                                <span>An Auth </span>We Have Taken</h1>
                        </div>
                        <!-- Section Title End -->

                        <!-- Hero Button Start -->
                        <div class="hero-btn wow fadeInUp" data-wow-delay="0.4s">
                            <a href="contact.html" class="btn-default">get in touch</a>
                            <a href="book-appointment.html" class="btn-default btn-highlighted">explore more</a>
                        </div>
                        <!-- Hero Button End -->
                    </div>
                    <!-- Hero Content End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="export-coaching-box wow fadeInUp" data-wow-delay="0.6s">
                        <!-- Export Coaching Step Start -->
                        <div class="export-coaching-step">
                            <div class="icon-box">
                                <img src="images/icon-export-coaching-1.svg" alt="">
                            </div>
                            <div class="export-coaching-step-content">
                                <p>Tailored Coaching Solutions for growth.</p>
                            </div>
                        </div>
                        <!-- Export Coaching Step End -->

                        <!-- Export Coaching Step Start -->
                        <div class="export-coaching-step">
                            <div class="icon-box">
                                <img src="images/icon-export-coaching-2.svg" alt="">
                            </div>
                            <div class="export-coaching-step-content">
                                <p>Proven Coaching Techniques Backed.</p>
                            </div>
                        </div>
                        <!-- Export Coaching Step End -->

                        <!-- Export Coaching Step Start -->
                        <div class="export-coaching-step">
                            <div class="icon-box">
                                <img src="images/icon-export-coaching-3.svg" alt="">
                            </div>
                            <div class="export-coaching-step-content">
                                <p>Holistic Life and Business Coaching.</p>
                            </div>
                        </div>
                        <!-- Export Coaching Step End -->

                        <!-- Export Coaching Step Start -->
                        <div class="export-coaching-step">
                            <div class="icon-box">
                                <img src="images/icon-export-coaching-4.svg" alt="">
                            </div>
                            <div class="export-coaching-step-content">
                                <p>Flexible Client Centered Coaching Program.</p>
                            </div>
                        </div>
                        <!-- Export Coaching Step End -->

                        <!-- Export Coaching Step Start -->
                        <div class="export-coaching-step">
                            <div class="icon-box">
                                <img src="images/icon-export-coaching-5.svg" alt="">
                            </div>
                            <div class="export-coaching-step-content">
                                <p>Expert Guidance with Ongoing Support.</p>
                            </div>
                        </div>
                        <!-- Export Coaching Step End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Hero Section End -->

<!-- About Us Section Start -->
<div class="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- About Us Image Start -->
                <div class="about-us-images">
                    <!-- About Us Img Start -->
                    <div class="about-us-img-1">
                        <figure class="image-anime">
                            <img src="{% static 'website/images/about-us-img-1.jpg' %}" alt="">
                        </figure>
                    </div>
                    <!-- About Us Img End -->

                    <!-- About Us Img Start -->
                    <div class="about-us-img-2">


                        <!-- Use it like any other HTML element -->
                        <model-viewer
                                src="{% static 'website/images/model/model.gltf' %}"
                                alt="3D Model"
                                auto-rotate
                                camera-controls
                                disable-zoom
                                rotation-per-second="60deg"
                                disable-tap
                                interaction-prompt="none"

                                style="height: 250px;">
                        </model-viewer>
                    </div>
                    <!-- About Us Img End -->

                    <!-- About Experience Box Start -->
                    <div class="about-experience-box">
                        <div class="icon-box">
                            <img src="{% static 'website/images/icon-company-experience.svg' %}" alt="">
                        </div>

                        <div class="about-experience-content">
                            <h3><span class="counter">30</span>+ years of experience</h3>
                        </div>
                    </div>
                    <!-- About Experience Box End -->

                    <!-- Company Review Start -->
                    <div class="company-review">
                        <h3>5200+ five star reviews</h3>
                    </div>
                    <!-- Company Review End -->
                </div>
                <!-- About Us Image End -->
            </div>

            <div class="col-lg-6">
                <!-- About Us Content Start -->
                <div class="about-us-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">about us</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s">Expert guidance and
                            <span>personalized coaching.</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Receive tailored coaching that empowers you to
                            navigate challenges and achieve your personal and professional goals. With expert
                            guidance.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- About Us List Start -->
                    <div class="about-us-list wow fadeInUp" data-wow-delay="0.6s">
                        <ul>
                            <li>goal setting and accountability</li>
                            <li>mindset and confidence building</li>
                        </ul>
                    </div>
                    <!-- About Us List End -->

                    <!-- About Us Body Start -->
                    <div class="about-us-body">
                        <!-- About Company Client Start -->
                        <div class="about-comapny-client wow fadeInUp" data-wow-delay="0.8s">
                            <!-- Company Client Images Start -->
                            <div class="company-client-images">
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'website/images/satisfy-client-img-1.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'website/images/satisfy-client-img-2.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'website/images/satisfy-client-img-3.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'website/images/satisfy-client-img-4.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="client-image">
                                    <figure class="image-anime">
                                        <img src="{% static 'website/images/satisfy-client-img-5.jpg' %}" alt="">
                                    </figure>
                                </div>
                            </div>
                            <!-- Company Client Images End -->

                            <!-- Company Client Counter Start -->
                            <div class="company-client-counter">
                                <p>Join our <span>5000</span>+ satisfied client</p>
                            </div>
                            <!-- Company Client Counter End -->
                        </div>
                        <!-- About Company Client End -->

                        <!-- About Company Result Start -->
                        <div class="about-company-result wow fadeInUp" data-wow-delay="0.8s">
                            <div class="icon-box">
                                <img src="{% static 'website/images/icon-company-result.svg' %}" alt="">
                            </div>

                            <div class="company-result-content">
                                <h3>Creative Result</h3>
                                <p>Award wining</p>
                            </div>
                        </div>
                        <!-- About Company Result End -->
                    </div>
                    <!-- About Us Body End -->

                    <!-- About Us Footet Start -->
                    <div class="about-us-footer wow fadeInUp" data-wow-delay="1s">
                        <a href="contact.html" class="btn-default">get in touch</a>
                    </div>
                    <!-- About Us Footet End -->
                </div>
                <!-- About Us Content End -->
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->
<!-- Our Service Start -->
<div class="our-service bg-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <!-- Service Content Start -->
                <div class="service-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">services</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Comprehensive coaching for life and <span>business</span>
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">Our coaching services provide personalized
                            strategies for both personal growth and business success. We focus on your unique
                            challenges, offering expert guidance to help you.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Service Btn Start -->
                    <div class="service-btn wow fadeInUp" data-wow-delay="0.75s">
                        <a href="{% url 'website:services' %}" class="btn-default">view all services</a>
                    </div>
                    <!-- Service Btn End -->
                </div>
                <!-- Service Content End -->
            </div>

            <div class="col-lg-7">

                <!-- Service Item List Start -->
                <div class="service-item-list">
                    <!-- Service Item Start -->
                    {% for object in services %}
                    <div class="service-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="{{object.thumbnail_image|image_or_placeholder}}" alt="">
                        </div>

                        <div class="service-item-content">
                            <h3>{{object.title}}</h3>
                            <p>{{object.short_description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Service Item Start -->
                </div>
                <!-- Service Item List End -->

                <!-- Service Footer Start -->
                <div class="service-footer wow fadeInUp" data-wow-delay="0.25s">
                    <p><span>free</span> Let's make something great work together. <a
                            href="{% url 'website:contact' %}">get free
                        quote</a></p>
                </div>
                <!-- Service Footer Start -->
            </div>
        </div>
    </div>
</div>
<!-- Our Service End -->

<!-- Why Choose Us Section Start -->
<div class="why-choose-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="our-potential-content">
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Why Choose Us</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Empowering Your Business <span>Through Technology</span>
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">Partnering with us means leveraging cutting-edge
                            technology, proven expertise, and customized solutions to drive your business forward. We
                            focus on innovation, quality, and client satisfaction.</p>
                    </div>
                    <div class="our-potential-counter">
                        <div class="potential-counter-item">
                            <div class="counter-circle">
                                <h2><span class="counter">98</span>%</h2>
                            </div>
                            <div class="potential-counter-content">
                                <h3>Satisfied Clients</h3>
                            </div>
                        </div>

                        <div class="potential-counter-item">
                            <div class="counter-circle">
                                <h2><span class="counter">500</span>+</h2>
                            </div>
                            <div class="potential-counter-content">
                                <h3>Successful Projects</h3>
                            </div>
                        </div>
                    </div>
                    <div class="our-potential-body">
                        <div class="potential-body-content">
                            <h3 class="wow fadeInUp">Skilled and Dedicated Development Team</h3>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Our team of developers, designers, and
                                strategists is committed to delivering top-notch software solutions tailored to your
                                needs.</p>
                        </div>
                        <div class="potential-body-list wow fadeInUp" data-wow-delay="0.4s">
                            <ul>
                                <li>Custom, scalable solutions</li>
                                <li>Agile development practices</li>
                                <li>Continuous support and maintenance</li>
                                <li>Focus on innovation and quality</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="our-potential-img">
                    <figure class="image-anime reveal">
                        <img src="{% static 'website/images/our-potential-img.jpg' %}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why Choose Us Section End -->

<div class="our-pricing bg-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Our Technology</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.25s"
                        style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                        Cutting-Edge <span>Tools and Frameworks</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="splide" id="tech-icons-slider">
                <div class="splide__track">
                    <ul class="splide__list" data-cursor-text="Drag">
                        {% for object in technologies %}
                        <li class="splide__slide">
                            <div class="col-lg-12 p-1">
                                <div class="card  mb-4 rounded border border-danger"
                                     style="border-radius: 15px;padding-left: 18px">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">{{object.title}}</h5>
                                        {% for obj in object.get_sub_technologies %}
                                        <img src="{{obj.thumbnail_image|image_or_placeholder}}"
                                             class="tech-icon me-2 mb-2"
                                             alt="HTML">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Our Potential Start -->
<div class="industry-we-serve bg-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <!-- Industries We Serve Image Start -->
                <div class="company-growth-image">
                    <figure class="image-anime reveal">
                        <img src="{% static 'website/images/company-growth-img.jpg' %}" alt="">
                    </figure>
                </div>
                <!-- Industries We Serve Image End -->
            </div>

            <div class="col-lg-7">
                <!-- Industries We Serve Content Start -->
                <div class="company-growth-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">industries we serve</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Empowering Growth
                            <span>across various sectors</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">We cater to a wide range of industries, offering
                            tailored solutions to help businesses achieve measurable success and sustainable growth.</p>
                    </div>
                    <!-- Section Title End -->

                </div>
                <!-- Industries We Serve Content End -->
            </div>

            <div class="col-lg-12">
                <!-- Industries We Serve Box Start -->
                <div class="company-growth-box">
                    <!-- Industry Item Start -->
                    <div class="company-growth-item">
                        <h2><span class="counter">15</span>+</h2>
                        <h3>Retail & E-commerce</h3>
                        <p>We provide solutions to optimize inventory, sales, and customer engagement for retail
                            businesses.</p>
                    </div>
                    <!-- Industry Item End -->

                    <!-- Industry Item Start -->
                    <div class="company-growth-item">
                        <h2><span class="counter">20</span>+</h2>
                        <h3>Manufacturing</h3>
                        <p>Enhancing efficiency and productivity through smart automation and AI-driven analytics.</p>
                    </div>
                    <!-- Industry Item End -->

                    <!-- Industry Item Start -->
                    <div class="company-growth-item">
                        <h2><span class="counter">10</span>+</h2>
                        <h3>Healthcare</h3>
                        <p>Innovative solutions to improve patient care, data management, and operational
                            efficiency.</p>
                    </div>
                    <!-- Industry Item End -->
                    <!-- Industry Item Start -->
                    <div class="company-growth-item">
                        <h2><span class="counter">25</span>+</h2>
                        <h3>Technology & IT</h3>
                        <p>Supporting tech companies with cutting-edge tools for growth, security, and innovation.</p>
                    </div>
                    <!-- Industry Item End -->
                </div>
                <!-- Industries We Serve Box End -->
            </div>
        </div>
    </div>
</div>

<!-- Our Potential End -->
<!-- Our Pricing Section Start -->
<div class="company-growth bg-section mt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Our Expertise Content Start -->
                <div class="our-expertise-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Our Work Process</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Step by step process for
                            <span>Software Development</span></h2>                        </h2>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">Choosing us means partnering with experienced
                            coaches who are dedicated to unlocking your potential. We offer personalized strategies,
                            proven methods.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Expertise Button Start -->
                    <div class="expertise-btn wow fadeInUp" data-wow-delay="0.75s">
                        <a href="contact.html" class="btn-default">contact now</a>
                    </div>
                    <!-- Expertise Button End -->
                </div>
                <!-- Our Expertise Content End -->
            </div>

            <div class="col-lg-6">
                <figure class="image-anime reveal">
                    <img src="{% static 'website/images/sdlc.png' %}" style="height: 600px" alt="">
                </figure>
            </div>
        </div>
    </div>

</div>
<div class="page-blog">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Our Work </h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.25s"
                        style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Our Portfolio
                        <span>Projects</span></h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Button Start -->
                <div class="section-btn wow fadeInUp" data-wow-delay="0.5s"
                     style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <a href="{% url 'website:project-list' %}" class="btn-default">view all</a>
                </div>
                <!-- Section Button End -->
            </div>
        </div>

        <!-- Splide Slider Start -->
        <div class="splide" id="portfolio-slider">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for obj in projects %}
                    <li class="splide__slide">
                        <div class="col-lg-12 col-md-12 mb-4">
                            <div class="card p-3 rounded-4 position-relative  border border-danger overflow-hidden">
                                <div class="post-item wow fadeInUp"
                                     style="visibility: visible; animation-name: fadeInUp;">
                                    <!-- Post Featured Image Start -->
                                    <div class="post-featured-image">
                                        <figure>
                                            <img src="{{obj.thumbnail_image.url}}" alt="">
                                        </figure>
                                    </div>
                                    <!-- Post Featured Image End -->

                                    <!-- Post Item Content Start -->
                                    <div class="post-item-content">
                                        <img src="{% static 'website/images/tier.png' %}" style="height:70px;"
                                             alt="rating"
                                             class="ms-auto float-end me-2">
                                        <h2>{{obj.title}}
                                        </h2>
                                        <small class="text-secondary">{{obj.tag_line}}</small>
                                        <p>{{obj.short_description}}</p>
                                    </div>
                                    <!-- Post Item Content End -->

                                    <!-- Slider Overlay with Button -->
                                    <div class="card-slider-overlay">
                                        <div class="slider-content">
                                            <p><img src="https://placeholder.io?100"></p>
                                            <p>⭐⭐⭐⭐⭐</p>
                                            <p>“This coaching session significantly improved my mental resilience!”</p>
                                            <a href="{% url 'website:project-detail' obj.pk %}"
                                               class="btn btn-primary mt-3">Read
                                                More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- Splide Slider End -->

    </div>
</div>


<!-- Our Testimonial Section Start -->
<div class="our-testimonial bg-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8">
                <div class="our-testimonial-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">testimonial</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Real success stories from our <span>coaching clients</span>
                        </h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="col-lg-8">
                <!-- Testimonial Slider Start -->
                <div class="testimonial-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper" data-cursor-text="Drag">
                            <!-- Testimonial Slide Start -->
                            {% for object in project_testimonials %}
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-slider-image">
                                        <figure class="image-anime">
                                            <img src="{{object.customer.thumbnail_image|image_or_placeholder}}"
                                                 alt="">
                                        </figure>
                                    </div>

                                    <div class="testimonial-slider-content">
                                        <div class="testimonial-header">
                                            <div class="testimonial-rating-company">
                                                <img src="{{object.project.logo|image_or_placeholder}}"
                                                     alt="">
                                            </div>
                                            <div class="testimonial-quote">
                                                <img src="/static/website/images/testimonial-quote.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="testimonial-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>{{object.testimonial}}</p>
                                        </div>
                                        <div class="author-content">
                                            <h3>{{object.customer.name}}</h3>
                                            <p>{{object.customer.designation}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Testimonial Slide End -->

                        </div>
                        <div class="testimonial-btn">
                            <div class="testimonial-button-prev"></div>
                            <div class="testimonial-button-next"></div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial Slider End -->
            </div>

            <div class="col-lg-12">
                <!-- Testimonial Rating Box Start -->
                <div class="testimonial-rating-box">
                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="{% static 'website/images/icon-testimonial-rating-1.svg' %}" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">982</span>+ Trustpilot 4.8 start reviews</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->

                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="{% static 'website/images/icon-testimonial-rating-2.svg' %}" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">487</span>+ Airbng 5 start reviews</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->

                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="{% static 'website/images/icon-testimonial-rating-3.svg' %}" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">182</span>+ Yelp 5 start reviews</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->

                    <!-- Testimonial Rating Item Start -->
                    <div class="testimonial-rating-item">
                        <div class="icon-box">
                            <img src="{% static 'website/images/icon-testimonial-rating-4.svg' %}" alt="">
                        </div>
                        <div class="testimonial-rating-content">
                            <p><span class="counter">897</span>+ Google 5 start reviews</p>
                        </div>
                    </div>
                    <!-- Testimonial Rating Item End -->
                </div>
                <!-- Testimonial Rating Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Testimonial Section End -->

<!-- Our Blog Section Start -->
<div class="our-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- Our Blog Content Start -->
                <div class="our-blog-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">news/post</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Latest updates and coaching <span>industry insights</span>
                        </h2>
                    </div>
                    <!-- Section Title End -->

                    <!-- Our Blog Button Start -->
                    <div class="our-blog-btn wow fadeInUp" data-wow-delay="0.5s">
                        <a href="{% url 'website:contact' %}" class="btn-default">contact us</a>
                    </div>
                    <!-- Our Blog Button End -->
                </div>
                <!-- Our Blog Content End -->
            </div>

            <div class="col-lg-8">
                <!-- Blog Box Start -->
                <div class="blog-box">
                    <!-- Blog Item Start -->
                    {% for obj in latest_blogs %}
                    <div class="blog-item wow fadeInUp">
                        <!-- Blog Featured Image Start -->
                        <div class="blog-featured-image">
                            <a href="{% url 'website:blog-detail' obj.pk %}" class="image-anime"
                               data-cursor-text="View">
                                <figure>
                                    <img src="{{obj.thumbnail_image|image_or_placeholder}}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Blog Featured Image End -->

                        <!-- Blog Item Body Start -->
                        <div class="blog-item-body">
                            <!-- Blog Item Content Start -->
                            <div class="blog-item-content">
                                <h2><a href="{% url 'website:blog-detail' obj.pk %}">{{obj.title}}</a>
                                </h2>
                                <p>{{ obj.content|truncatewords:20|safe }}</p>
                            </div>
                            <!-- Blog Item Content End -->

                            <!-- Blog Item Button Start -->
                            <div class="blog-item-btn">
                                <a href="{% url 'website:blog-detail' obj.pk %}" class="btn-default">read more</a>
                            </div>
                            <!-- Blog Item Button End -->
                        </div>
                        <!-- Blog Item Body End -->
                    </div>
                    {% endfor %}
                    <!-- Blog Item End -->
                </div>
                <!-- Blog Box End -->
            </div>
        </div>
    </div>
    <!-- Scrolling Ticker Start -->
    <div class="scrolling-ticker work-ticker">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Scrolling Ticker Box Start -->
                    <div class="scrolling-ticker-box">
                        <!-- Scrolling Ticker Content Start -->
                        <div class="scrolling-content">
                            <span><img src="{% static 'website/images/asterisk-icon.svg' %}"
                                       alt="">Stress Management</span>
                            <span><img src="{% static 'website/images/asterisk-icon.svg' %}"
                                       alt="">Business Coaching</span>
                            <span><img src="{% static 'website/images/asterisk-icon.svg' %}"
                                       alt="">Career Support</span>
                        </div>
                        <!-- Scrolling Ticker Content End -->

                        <!-- Scrolling Ticker Content Start -->
                        <div class="scrolling-content">
                            <span><img src="{% static 'website/images/asterisk-icon.svg' %}"
                                       alt="">Stress Management</span>
                            <span><img src="{% static 'website/images/asterisk-icon.svg' %}"
                                       alt="">Business Coaching</span>
                            <span><img src="{% static 'website/images/asterisk-icon.svg' %}"
                                       alt="">Career Support</span>
                        </div>
                        <!-- Scrolling Ticker Content End -->
                    </div>
                    <!-- Scrolling Ticker Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Scrolling Ticker End -->
</div>

{% endblock %}

{% block extra_js %}
<!-- Include Splide JS -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const techsplide = new Splide('#tech-icons-slider', {
            type: 'loop',
            drag: 'free',
            focus: 'center',
            perPage: 3,
            breakpoints: {
                1200: {
                    perPage: 2,   // On large screens, show 3 slides
                },
                768: {
                    perPage: 2,
                },
                576: {
                    perPage: 1,
                },
            },
        });

        techsplide.mount();  // Initialize the slider


        const portfolio_splide = new Splide('#portfolio-slider', {
            type: 'loop',
            perPage: 3,  // Display 3 items per slide on large screens
            perMove: 1,
            drag: 'free',
            focus: 'center',
            gap: '30px',
            arrows: true,  // Show next/prev arrows
            breakpoints: {
                1200: {
                    perPage: 2,  // 3 items per slide on large screens
                },
                768: {
                    perPage: 2,  // 2 items per slide on medium screens
                },
                576: {
                    perPage: 1,  // 1 item per slide on small screens
                },
            },
        });
        portfolio_splide.mount();  // Initialize the slider

        // Auto-scroll functionality
        const interval = 2000; // Time between scrolls (in milliseconds)
        setInterval(() => {
            techsplide.go('>');
            portfolio_splide.go('>');
        }, interval); // Move to next slide every 2 seconds

    });
</script>
{% endblock extra_js %}