{% extends 'base.html' %}
{% block subtitle %} Services {% endblock %}
{% load static %}
{% block content %}
{% load custom_tags %}
<style>
    .big-headings {
        color: #736a6a;
    }

    .big-headings {
        font-size: 122px;
        font-weight: 700;
        color: #736a6a;
        font-family: "Libre Baskerville", serif;
        /* margin-bottom: 20px; */
    }

    .trust-card {
        padding: 40px;
        background: rgba(255, 255, 255, 0.52);
        border-radius: 12px;
        margin-bottom: 30px;
        min-height: 200px;
        border: solid 1px #e5f4e9;
    }

    /* Ensure the card is relatively positioned */
    .card {
        position: relative;
        overflow: hidden;
        border-radius: 30px;
        padding: 10px;
    }

    /* Overlay for the entire card */
    .card-slider-overlay {
        position: absolute;
        bottom: -100%; /* Hidden initially */
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(101, 0, 0); /* Dark semi-transparent background */
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: bottom 0.5s ease; /* Smooth sliding animation */
        padding: 20px;
        z-index: 2;
        flex-direction: column;
    }

    /* Style for the content inside the overlay */
    .slider-content {
        font-size: 16px;
        line-height: 1.5;
        padding: 15px;
    }

    /* Button styling */
    .card-slider-overlay .btn {
        background-color: #ff9800; /* Customize button color */
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .card-slider-overlay .btn:hover {
        background-color: #e68900; /* Slightly darker on hover */
    }

    /* Hover effect to slide in the overlay */
    .card:hover .card-slider-overlay {
        bottom: 0; /* Slide in from the bottom on hover */
    }

    .project-header {
        position: relative;
        background: none;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        padding: 200px 0 150px;
        margin-top: -120px;
    }

    .project-header:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: linear-gradient(359deg, rgba(4, 42, 45, 0) 22.28%, #2d0404 100%);
    }

    .image-wrapper {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .image-wrapper img {
        width: 100%;
        max-width: 1200px;
        height: auto;
        max-height: 700px;
    }

    @media (min-width: 992px) {
        .image-wrapper img {
            width: 80%;
            max-width: 1400px;
        }
    }

</style>

<!-- Page Header Start -->
<div class="project-header bg-section ">
    <!-- Page Header Box Start -->
    <div class="page-header-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 consultant-heading">
                    <div class="content-home">
                        <h1 class="home-heading">
                            <span>{{object.title}}</span> – {{object.tag_line}}
                        </h1>
                        <p class="text-white">
                            {{object.short_description}}
                        </p>
                        <div class="image-wrapper">
                            <img src="{{object.thumbnail_image.url}}" alt="SeedsWild">1
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Page Header Box End -->
</div>
<div class="company-growth p-4 bg-section">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">

                <div class="section-title mb-0">
                    <h2 class="wow fadeInUp" data-wow-delay="0.25s"
                        style="visibility: visible;font-size: 40px; animation-delay: 0.25s; animation-name: fadeInUp;">
                        Project <span>Overview</span>
                    </h2>
                </div>
            </div>
            <div class="col-md-12">
                <p>{{object.content|safe}}</p>
            </div>
        </div>
        {% if object.key_features.all %}
        <div class="row gallery-items page-gallery-box">
            {% for obj in object.images.all %}
            <div class="col-lg-4 col-6">
                <!-- image gallery start -->
                <div class="photo-gallery wow fadeInUp" data-cursor-text="View"
                     style="visibility: visible; animation-name: fadeInUp;">
                    <a href="{{obj.image.url}}">
                        <figure class="image-anime">
                            <img src="{{obj.image.url}}" alt="">
                        </figure>
                    </a>
                </div>
                <!-- image gallery end -->
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>


<div class="page-blog" style="padding: 100px 0 7px">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-12 text-center">
                <!-- Section Title Start -->
                <div class="section-title mt-">
                    <h2 class="wow fadeInUp" data-wow-delay="0.25s"
                        style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Key <span>Features</span>
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>
        {% for obj in object.key_features.all %}
        <div class="row">
            {% if forloop.counter|divisibleby:2 %}
            <!-- Even Number Layout -->
            <div class="col-lg-6 col-md-6 p-4 mb-4">
                <div class="post-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="post-featured-image">
                        <div class="key-content-card">
                            <h2 class="big-headings">{{ forloop.counter|stringformat:"02d" }}.</h2>
                            <h3 class="key-content-heading">{{ obj.title }}</h3>
                            <p>{{ obj.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="post-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="post-featured-image">
                        <figure>
                            <img src="{{ obj.thumbnail_image.url }}" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            {% else %}
            <!-- Odd Number Layout -->
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="post-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="post-featured-image">
                        <figure>
                            <img src="{{ obj.thumbnail_image.url }}" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 p-4 mb-4">
                <div class="post-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="post-featured-image">
                        <div class="key-content-card">
                            <h2 class="big-headings">{{ forloop.counter|stringformat:"02d" }}.</h2>
                            <h3 class="key-content-heading">{{ obj.title }}</h3>
                            <p>{{ obj.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {% endfor %}
    </div>
</div>

{% if object.challenges.all %}
<div class="our-approach bg-section">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay="0.25s">Challenges &
                        <span>Solutions</span></h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="our-approach-content">
                    <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">At the heart of our
                        While creating the application, our team came
                        across technical challenges and employed applicable solutions, related to the project: </p>

                    <!-- Mission Vision Item Start -->
                    <div class="mission-vision-list">
                        <div class="row">
                            {% for obj in object.challenges.all %}
                            <div class="col-md-6 col-12">
                                <!-- Mission Vision Item Start -->
                                <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.2s"
                                     style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                    <div class="d-flex">
                                        <div class="icon-box">
                                            <img src="{% static 'website/images/challenge.png' %}" alt="">
                                        </div>
                                        <h3 class="mt-2">&nbsp;&nbsp;CHALLENGE</h3>
                                    </div>

                                    <div class="mission-vision-content">
                                        <div>{{obj.challenge|safe}}
                                        </div>
                                    </div>
                                </div>
                                <!-- Mission Vision Item End -->
                            </div>
                            <div class="col-md-6 col-12 ">
                                <!-- Mission Vision Item Start -->
                                <div class="mission-vision-item wow fadeInUp" data-wow-delay="0.2s"
                                     style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                    <div class="d-flex">
                                        <div class="icon-box">
                                            <img src="{% static 'website/images/challenge.png' %}" alt="">
                                        </div>
                                        <h3 class="mt-2">&nbsp;&nbsp;SOLUTION</h3>
                                    </div>

                                    <div class="mission-vision-content">
                                        <div>{{obj.solution|safe}}
                                        </div>
                                    </div>
                                </div>
                                <!-- Mission Vision Item End -->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if object.technologies.all %}
<div class="page-blog">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-12 text-center">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay="0.25s"
                        style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Tools & <span>Technology</span>
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>
        <div class="row">
            {% for obj in object.technologies.all %}
            <div class="col-md-3 col-sm-6">
                <div class="trust-card">
                    <img src="{{obj.technology.thumbnail_image.url}}" style="height: 60px;"/>
                    <h2>{{obj.technology.title}}</h2>
                    <p>{{obj.technology.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div class="our-testimonial bg-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8">
                <div class="our-testimonial-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">testimonial</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s"
                            style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Success
                            story from our <span>Project clients</span>
                        </h2>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="col-lg-8">
                <!-- Testimonial Slider Start -->
                <div class="testimonial-slider">
                    <div class="testimonial-item">
                        <div class="testimonial-slider-image">
                            <figure class="image-anime">
                                <img src="{{object.get_project_testimonial.customer.thumbnail_image|image_or_placeholder}}"
                                     alt="">
                            </figure>
                        </div>

                        <div class="testimonial-slider-content">
                            <div class="testimonial-header">
                                <div class="testimonial-rating-company">
                                    <img src="{{object.get_project_testimonial.project.logo|image_or_placeholder}}"
                                         alt="">
                                </div>
                                <div class="testimonial-quote">
                                    <img src="/static/website/images/testimonial-quote.svg" alt="">
                                </div>
                            </div>
                            <div class="testimonial-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="testimonial-content">
                                <p>{{object.get_project_testimonial.testimonial}}</p>
                            </div>
                            <div class="author-content">
                                <h3>{{object.get_project_testimonial.customer.name}}</h3>
                                <p>{{object.get_project_testimonial.customer.designation}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-blog">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-12 text-center">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay="0.25s"
                        style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Similar <span>Projects</span>
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>
        <div class="splide" id="post-slider">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for obj in similar_project %}
                    <li class="splide__slide">
                        <div class="col-lg-12 col-md-12 mb-4">
                            <div class="card p-3 position-relative overflow-hidden"
                                 style="background-color: rgba(255,255,255,0.06)">
                                <div class="post-item wow fadeInUp"
                                     style="visibility: visible; animation-name: fadeInUp;">
                                    <!-- Post Featured Image Start -->
                                    <div class="post-featured-image">
                                        <figure>
                                            <img src="{{obj.thumbnail_image|image_or_placeholder}}" alt="">
                                        </figure>
                                    </div>
                                    <!-- Post Featured Image End -->

                                    <!-- Post Item Content Start -->
                                    <div class="post-item-content">
                                        <img src="{% static 'website/images/tier.png' %}" style="height:70px;"
                                             alt="rating"
                                             class="ms-auto float-end me-2">
                                        <h2>{{obj.title}}
                                        </h2>
                                        <small>{{obj.tag_line}}</small>
                                        <p>{{obj.short_description}}</p>
                                    </div>
                                    <!-- Post Item Content End -->

                                    <!-- Slider Overlay with Button -->
                                    <div class="card-slider-overlay">
                                        <div class="slider-content">
                                            <p><img src="https://placeholder.100" alt="Rating"></p>
                                            <p>⭐⭐⭐⭐⭐</p>
                                            <p>“This coaching session significantly improved my mental resilience!”</p>
                                            <a href="blog-single.html" class="btn btn-primary mt-3">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('#post-slider', {
            type: 'loop',     // Infinite looping
            perPage: 4,          // Show 3 posts at a time
            focus: 'center',
            gap: '30px',
            autoplay: true,     // Auto transition between slides
            breakpoints: {
                1500: {
                    perPage: 4,     // Show 4 posts on extra-large screens
                },
                1200: {
                    perPage: 3,     // Show 3 posts on large screens
                },
                992: {
                    perPage: 2,     // Show 2 posts on medium screens
                },
                768: {
                    perPage: 2,     // Show 1 post on small screens
                },
            },
        });
        // Auto-scroll functionality
        const interval = 2000; // Time between scrolls (in milliseconds)
        setInterval(() => {
            splide.go('>');
        }, interval); // Move to next slide every 2 seconds
        splide.mount();
    });
</script>

{% endblock extra_js %}


