{% extends 'base.html' %}
{% block subtitle %} Service Detail {% endblock %}
{% load static %}
{% block content %}
<style>
    .trust-card {
        padding: 40px;
        background: rgba(255, 255, 255, 0.52);
        border-radius: 12px;
        margin-bottom: 30px;
        min-height: 200px;
        border: solid 1px #e5f4e9;
    }
</style>
<!-- Page Header Start -->
<div class="page-header bg-section">
    <!-- Page Header Box Start -->
    <div class="page-header-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Header Content Start -->
                    <div class="page-header-content">
                        <h1 class="wow fadeInUp">Service <span>Detail</span> </h1>
                    </div>
                    <!-- Page Header Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Box End -->
</div>
<!-- Page Header End -->

<!-- Page Service Single Start -->
<div class="page-service-single mt-0" style="margin-bottom: 0px;padding-bottom: 0px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Service Single Content Start -->
                <div class="service-single-content">
                    <!-- Service Featured Image Start -->
                    <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay="0.25s"
                        style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                         <span>{{object.title}}</span>
                    </h2>
                </div>
                <!-- Service Entry Start -->
                <div class="service-entry">
                    <p class="wow fadeInUp">{{object.short_description}}</p>


                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        {{object.content|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="our-approach bg-section mt-0" style="margin-top: 0px">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay="0.25s"
                        style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                        Tools & <span>Technology</span>
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>
        <div class="row">
            {% for obj in object.technologies.all %}
            <div class="col-md-3 col-sm-6">
                <div class="trust-card">
                    <img src="{{obj.technology.thumbnail_image.url}}" style="height: 60px;"/>
                    <h2>{{obj.technology.title}}</h2>
                    <p>{{obj.technology.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="page-service-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Service Single Content Start -->
                <div class="service-single-content">
                    <!-- Service Featured Image Start -->

                    <!-- Service Entry Start -->
                    <div class="service-entry">
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s">Our business <span>process</span></h2>

                        <p class="wow fadeInUp" data-wow-delay="0.4s">Our business coaching process is designed to
                            provide structured, yet flexible, support tailored to your specific goals. We begin with an
                            in-depth consultation to understand your business’s current challenges.</p>

                        <!-- Business Process Start -->
                        <div class="business-process-steps">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <!-- How Work Item Start -->
                                    <div class="how-work-item wow fadeInUp">
                                        <div class="icon-box">
                                            <img src="{%static 'website/images/icon-how-work-1.svg' %}" alt="">
                                        </div>

                                        <div class="how-work-content">
                                            <h3><span>01.</span> assessment</h3>
                                            <p>One on one sessions to achieve personal goals.</p>
                                        </div>
                                    </div>
                                    <!-- How Work Item End -->
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <!-- How Work Item Start -->
                                    <div class="how-work-item wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="icon-box">
                                            <img src="{%static 'website/images/icon-how-work-3.svg' %}" alt="">
                                        </div>

                                        <div class="how-work-content">
                                            <h3><span>02.</span> goal setting</h3>
                                            <p>One on one sessions to achieve personal goals.</p>
                                        </div>
                                    </div>
                                    <!-- How Work Item End -->
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <!-- How Work Item Start -->
                                    <div class="how-work-item wow fadeInUp" data-wow-delay="0.4s">
                                        <div class="icon-box">
                                            <img src="{%static 'website/images/icon-how-work-2.svg' %}" alt="">
                                        </div>

                                        <div class="how-work-content">
                                            <h3><span>03.</span> coaching sessions</h3>
                                            <p>One on one sessions to achieve personal goals.</p>
                                        </div>
                                    </div>
                                    <!-- How Work Item End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Service Single End -->

{% endblock %}
