{% load static %}
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="{% static 'website/images/logo.svg' %}" alt="Logo">
                </a>
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="{% url 'website:home' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'website:services' %}">Services</a>
                            </li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="{% url 'website:project-list' %}">Portfolio</a></li>
                            <li class="nav-item submenu"><a class="nav-link" href="#">Resources</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'website:blog' %}">Blogs</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'website:case-study' %}">Case Studies</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'website:about' %}">About</a></li>

<!--                            <li class="nav-item submenu"><a class="nav-link" href="#">Pages</a>-->
<!--                                <ul>-->
<!--                                    <li class="nav-item"><a class="nav-link" href="service-single.html">Service-->
<!--                                        Details</a></li>-->
<!--                                    <li class="nav-item submenu">-->
<!--                                        <a class="nav-link" href="blog.html">Blog</a>-->
<!--                                        <ul>-->
<!--                                            <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog-->
<!--                                                Details</a></li>-->

<!--                                            &lt;!&ndash; Submenu for Frontend and Backend with placeholder images &ndash;&gt;-->
<!--                                            <li class="nav-item">-->
<!--                                                <a class="nav-link" href="frontend.html">-->
<!--                                                    <img src="https://via.placeholder.com/20x20/0000FF/808080?text=F"-->
<!--                                                         alt="Frontend" class="me-2">-->
<!--                                                    Frontend-->
<!--                                                </a>-->
<!--                                            </li>-->
<!--                                            <li class="nav-item">-->
<!--                                                <a class="nav-link" href="backend.html">-->
<!--                                                    <img src="https://via.placeholder.com/20x20/FF0000/808080?text=B"-->
<!--                                                         alt="Backend" class="me-2">-->
<!--                                                    Backend-->
<!--                                                </a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </li>-->

<!--                                    <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Details</a>-->
<!--                                    </li>-->
<!--                                    <li class="nav-item"><a class="nav-link" href="team.html">Our Team</a></li>-->
<!--                                    <li class="nav-item"><a class="nav-link" href="team-single.html">Team Details</a>-->
<!--                                    </li>-->
<!--                                    <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing Plan</a></li>-->
<!--                                    <li class="nav-item"><a class="nav-link" href="testimonial.html">Testimonial</a>-->
<!--                                    </li>-->
<!--                                    <li class="nav-item"><a class="nav-link" href="image-gallery.html">Image Gallery</a>-->
<!--                                    </li>-->
<!--                                    <li class="nav-item"><a class="nav-link" href="video-gallery.html">Video Gallery</a>-->
<!--                                    </li>-->
<!--                                    <li class="nav-item"><a class="nav-link" href="faqs.html">FAQs</a></li>-->
<!--                                    <li class="nav-item"><a class="nav-link" href="book-appointment.html">Book-->
<!--                                        Appointment</a></li>-->
<!--                                    <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
                        </ul>
                    </div>
                    <div class="header-btn d-inline-flex">
                        <a href="tel:+789859664" class="btn-phone"><i class="fa-solid fa-phone-volume"></i>+01 789 859
                            664</a>
                        <a href="{% url 'website:contact' %}" class="btn-default">get in touch</a>
                    </div>
                </div>
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
